extends layout 

block content 
    link(rel="stylesheet", href="/dist/map/css/mapp.min.css")
    link(rel="stylesheet", href="/dist/map/css/fa/style.css")
    .inner 
        h2= title
        .map 
            //- .autocomplete 
            //-     input.autocomplete__input(type="text" placeholder="Search For Anything" name="geolocate")
            #map 

block scripts 
    script(src="https://code.jquery.com/jquery-3.2.1.min.js") 
    script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js") 
    script(src="/dist/map/js/mapp.env.js") 
    script(src="/dist/map/js/mapp.min.js") 
    script(src="/dist/App.bundle.js")